html {
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  
  .container{
   
  }

  .navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding-left: 10px;
    width: 100%;
    height: 40px;
  }
  
  .titulo{
    font-size: 25px;
    color: brown; 
    margin: 0 0 0 0;
  }
  
  .current{
    font-size: 18px;
    color: rgb(105, 152, 196);
    padding: 6px 8px 6px 16px;
    margin: 0 0 0 0;
  }

  .acao {
    background-color: tomato;
    padding: 1px 5px 2px 5px;
    border: solid black 1px;
    color: white;
    font-size: 9px;
  }

  .menu-acesso {
    font-size: 9px;
    font-weight: bold;
    background-color: rgb(238, 238, 243);
    padding: 1px 4px 1px 4px;
  }
  
  .sidenav {
    top: 40px;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: black;
    overflow-x: hidden;
  }
  
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: gray;
  }
  
  .intro{
    font-size: 20px;
  }

  .bloco {
    margin-left: 20px;
    max-width: 600;
    text-align: left;
  }

  .topico {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
 
  .main {
    margin-top: 45px;
    margin-left: 180px;
    padding-top: 10px;
    text-align: justify;
    padding-left: 10px;
  }

  .important {
    color:rgb(240, 95, 97);
    font-weight: bold;
  }

  .aviso{
    font-size: 13px;
    font-weight: bold;
    color: rgb(124, 124, 132);
  }

  .main .title {
    text-align: center;
    color: red;
    padding-top: 40px;
  }
  
  .tab{
    display: inline-block;
    margin-left: 15px;
  }
  
  .tab1-5{
    display: inline-block;
    margin-left: 22px;
  }
  
  .tab2{
    display: inline-block;
    margin-left: 30px;
  }
  
  .tab2-5{
    display: inline-block;
    margin-left: 40px;
  }
  
  .tab3{
    display: inline-block;
    margin-left: 45px;
  }
  
  .tab4{
    display: inline-block;
    margin-left: 60px;
  }
  
  .tab4-5{
    display: inline-block;
    margin-left: 65px;
  }
  
  .tab5{
    display: inline-block;
    margin-left: 80px;
  }
  
  .tab5-5{
    display: inline-block;
    margin-left: 90px;
  }
  
  .code{
    padding: 10 0 10 10;
    text-align: left;
  }

  .code pre {
    background-color: rgb(195, 194, 194);
  }
  
  .code-controller{
    padding: 10 0 10 10;
    background-color: rgb(222, 246, 222);
    text-align: left;
  }
  
  .code-worker{
  padding: 10 0 10 10;
  background-color: rgb(246, 246, 220);
  text-align: left;
  }
  
  .atencao{
    padding:  10 0 10 10;
    background-color: red;
    text-align: left;
    font-size: 18px;
    color:black;
  }
  
  .link-blank {
    color: #2d127e;
    text-decoration: none;
  }

  .link-blank a:hover {
    color: #4c20cd;
  }


  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .image-aws{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1.5px;
    max-width: 800px;
  }