html {
    min-height: 100vh;
    font-family: "Lato", sans-serif
  }
  
  .container{
    max-width: 800px;
  }
  .navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding-left: 10px;
    width: 100%;
    height: 40px;
  }
  
  .titulo{
    font-size: 25px;
    color: brown; 
    margin: 0 0 0 0;
  }
  
  .current{
    font-size: 18px;
    color: rgb(105, 152, 196);
    padding: 6px 8px 6px 16px;
    margin: 0 0 0 0;
  }
  
  .sidenav {
    top: 40px;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: black;
    overflow-x: hidden;
  }
  
  a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  }
  a:hover{
  color: gray;
  }
  
  .intro{
  font-size: 20px;
  }
  
  .main {
    margin-top: 45px;
    margin-left: 180px;
    padding-top: 10px;
    text-align: justify;
    padding-left: 10px;
  }
  
  .main .title {
    text-align: center;
    color: red;
    padding-top: 40px;
  }
  
  .tab{
    display: inline-block;
    margin-left: 15px;
  }
  
  .tab1-5{
    display: inline-block;
    margin-left: 22px;
  }
  
  .tab2{
    display: inline-block;
    margin-left: 30px;
  }
  
  .tab2-5{
    display: inline-block;
    margin-left: 40px;
  }
  
  .tab3{
    display: inline-block;
    margin-left: 45px;
  }
  
  .tab4{
    display: inline-block;
    margin-left: 60px;
  }
  
  .tab4-5{
    display: inline-block;
    margin-left: 65px;
  }
  
  .tab5{
    display: inline-block;
    margin-left: 80px;
  }
  
  .tab5-5{
    display: inline-block;
    margin-left: 90px;
  }
  
  .code{
    width: 100%;
    padding: 10 0 10 10;
    background-color: rgb(195, 194, 194);
    text-align: left;
  }
  
  
  .code-controller{
    padding: 10 0 10 10;
    background-color: rgb(222, 246, 222);
    text-align: left;
  }
  
  .code-worker{
  padding: 10 0 10 10;
  background-color: rgb(246, 246, 220);
  text-align: left;
  }
  
  .atencao{
    padding:  10 0 10 10;
    background-color: red;
    text-align: left;
    font-size: 18px;
    color:black;
  }
  
  .link-blank {
    color: #2d127e;
    text-decoration: none;
  }

  .link-blank a:hover {
    color: #4c20cd;
  }


  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .image-aws{
     max-width: 800px;
  }